language: node_js
node_js:
  - "node"
  - "23"
  - "22"
  - "21"
  - "20"
  - "19"
  - "18"
  - "17"
  - "16"
  - "15"
  - "14"
  - "13"
  - "12"
  - "11"
  - "10"
  - "9"
  - "8"
  - "7"
  - "6"
  - "5"
  - "4"


